doctype
html(lang='en')
  head
    //Meta
    title Arjun Kakkalasseri
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="author", content="Arjun Kakkalasseri")
    meta(name="description", content="Malappuram based freelance web &amp; UI designer.")
    meta(name="robots" content="follow")
    //Favicon
    link(rel="icon" sizes="16x16" href="assets/ico/favicon.ico")
    //Apple Touch Icon
    link(rel="apple-touch-icon" sizes="72x72" href="assets/ico/favicon72x72.png")
    link(rel="apple-touch-icon" sizes="114x114" href="assets/ico/favicon114x114.png")
    link(rel="apple-touch-icon" sizes="144x144" href="assets/ico/favicon144x144.png")
    //Stylesheets
    link(href="styles/css/style.min.css", rel="stylesheet")
    //Body
  body
    div(class="animated fadeIn card")
      h1 <span class="ec ec-wave"></span> Hello there!
      p. 
        I&apos;m Arjun, a front-end web designer &amp; developer based in Malappuram, Kerala, India. I&apos;m obsessed with building engaging &amp; ambitious user experiences. I&apos;m currently avaiable for freelance work.</br>
      div.card--links
        ul
          li
           a(href="mailto:arjunkakkalasseri@gmail.com") Email
          li
           a(href="https://behance.net/septembericious" target="_blank") Behance
          li
           a(href="https://twitter.com/septembericious" target="_blank") Twitter
          li
           a(href="https://last.fm/user/septembericious" target="_blank") Last.fm
           //
      div.card--music
        p.
        <span class="ec ec-musical-note"></span>&nbsp;Listening Now
        span.topData
           
    //jQuery
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js") 
    //script(src="//ws.audioscrobbler.com/2.0/?method=user.gettoptracks&user=septembericious&api_key=e34f2e63e7aee0e8212e1033709a0e19&format=json")   
    script(src="assets/grab.js")    
    
    
  
