@import url('//fonts.googleapis.com/css?family=Didact+Gothic|Philosopher');
@mixin incline{
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 88%, 75% 100%, 40% 88%, 0 100%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 88%, 75% 100%, 40% 88%, 0 100%, 0 0);
}
@mixin clip-above{
  -webkit-clip-path: polygon(76% 0, 100% 12%, 100% 100%, 75% 100%, 0 100%, 0 0, 29% 14%);
  clip-path: polygon(76% 0, 100% 12%, 100% 100%, 75% 100%, 0 100%, 0 0, 29% 14%);
}
@mixin boxshadow{
  -webkit-box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.75);
}
@mixin gaussianblur( $value: 0 ){
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'gaussianblur\'><feGaussianBlur in=\'SourceGraphic\' stdDeviation=\'#{$value}\'/></filter></svg>#gaussianblur"); // SVG
    -webkit-filter: blur(#{$value}px); // Webkit
    filter: brightness(#{$value}px); // Regular specification
}
