.row > .box
{
  background: #f1f2ff;
  padding: 10%;
  min-height: 15rem;
  height: auto;
  margin:0px;
}
.carousel-caption > h1{
  font-size: 3.5em;
}
.carousel-item > img{
    height: 38rem;
    width: 100%;
}
