$primary: #7C1F50;

html,body{
  font-family: 'Didact Gothic', sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Philosopher', sans-serif;
}
.carousel{
  margin-bottom: 0px;
}
.nav-link{
  font-family: 'Philosopher', sans-serif;
  font-size: 1.2em;
}
.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0.9;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  background: $primary !important;
  border-radius: 0px;
  @include boxshadow;

  a{
    color: #fff;
    font-size: 2.5em;
  }
}
.modal-header{
  border-style: none;
}
.bluegrey{
  background: #f1f2ff !important;
}
.blackgrey{
  background: #ced6e0 !important;
}
.carbtn{
  margin-bottom: 100px;
}
